#myDiv {
  height:2000px;
  width:100px;
  background-color: #CCF;
  
  font-family: 'Trebuchet MS';
  font-size: 12px;
  line-height: 24px;
  padding: 5px;
  margin: 5px;
  /* overflow:hidden; */
}

.boldit{font-weight:bold;}

[data-parallax] {
  background-color: goldenrod;
}